/* global container */

.global-container{
    padding: 0 20px;
}

/* App container */
.app-container{
    max-width:1100px;
}

/* About me section */
.about-me{
    display: flex;
    flex-wrap: wrap-reverse;
}

.portfolio-image{
    min-width:200px;
    border-radius:50%;
    display:block;
    margin:30px auto;
}

/* What I do section*/
.whatIDo-card{
    min-width: 260px;
    box-shadow: -10px 10px 50px black;
    margin: 20px auto;
}

/* Contact */
.inputfield{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px ;
    background-color: black;
    color:white
}

/* Project modal */
.project-modal-description{
    margin:20px 0 0 20px;
}

@media screen and (min-width: 800px){
    .about-me{
        display: grid;
        grid-template-columns:2fr 1fr;
        font-size: 2em;
        gap: 20px
    }

    .project-modal{
        display: flex;
        /* justify-content: space-between; */
    }
    .project-modal-description{
        margin:0 0 0 20px;
    }

    .form-layout{
        display:grid;
        grid-template-columns:1fr 2fr;
        column-gap: 20px;
    }
}

@media screen and (min-width: 500px){
    .about-me{
        
        font-size: 2em;
        gap: 20px
    }

    .portfolio-image{
        max-width:300px;
        border-radius:50%;
        display:block;
        margin:30px auto;
    }
    .whatIDoContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .whatIDo-header{
        text-align: left;
    }

    .whatIDo-card{
        width: 300px;
        box-shadow: -10px 10px 50px black;
        margin: 20px auto;
    }
    
    .myProjects{
        display: flex;
        flex-wrap: wrap;
    }

    

    .experience-education{
        display:grid;
        grid-template-columns : repeat(2, 1fr);
        gap:25px
    }

    

    .form-layout-card{
        padding: 20px;
        border-radius:10px;
        box-shadow:-10px 10px 50px black;
        margin: 0 30px 30px 0;
        width: 100%;
    }

    .form-details{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        
    }
    
    .form-textarea{
        width:100%;
        margin:10px;
        min-height:240px;
        border-radius:10px;
        background-color:black;
        color:white;
        padding: 10px;
    }
    .inputfield{
        width: 90%;
        margin: 10px ;
        padding: 10px;
        border-radius: 10px ;
        background-color: black;
        color:white
    }
}


/* Recent Projects */

/* Project card */


/* Contact form */

.form-textarea{
    width:95%;
    margin:10px auto;
    min-height:240px;
    border-radius:10px;
    background-color:black;
    color:white;
    padding: 10px;
}

.form-layout-card{
    padding: 20px;
    border-radius:10px;
    box-shadow:-10px 10px 50px black;
    margin: 0 30px 30px 0;
    width:100%
}